
<div class="navbar navbar-default text-center navbar-static-top" role="navigation">
	<ul class="nav navbar-nav" data-nav-menu>
		<li>
			<a href="/admin/manage/campuses">
				<i class="fa fa-fw fa-2x fa-building-o"></i><div>Campuses</div>
			</a>
		</li>
		<li>
			<a href="/admin/manage/semesters">
				<i class="fa fa-fw fa-2x fa-wrench"></i><div>Semesters</div>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-2x fa-wheelchair"></i><div>Positions</div>
			</a>
		</li>
	</ul>
</div>
