<div class="graph">
	<h2>
		<i class="fa fa-fw fa-users"></i> Voters
	</h2>
	<div class="text-center">
		<div class="box">
			<div class="circle">2453</div><br>
			<p class="text-muted">Total Voters</p>
		</div>
		<div class="box">
			<div class="circle">0</div><br>
			<p class="text-muted">Voted</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="text-right">
		<form class="form-inline" role="form">
			<div class="form-group">
				<i class="fa fa-fw fa-search"></i>
				<input type="text" class="form-control no-style" placeholder="Search Voter ..." data-ng-model="search">
			</div>
			<div class="form-group">
				<button class="btn btn-default">Search</button>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ul class="nav nav-tabs" id="votersTab">
				<li><a href="#import" data-toggle="tab"><i class="fa fa-fw fa-level-down"></i>Import Voters</a></li>
				<li><a href="#generate" data-toggle="tab"><i class="fa fa-fw fa-magic"></i>Generate Pass Codes</a></li>
				<li><a href="#export" data-toggle="tab"><i class="fa fa-fw fa-barcode"></i>Export Voters</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade" id="import">
					<form class="form-horizontal" name="importForm" role="form" action="/api/v1/import" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label for="file" class="col-sm-3 control-label">Import CSV file <span class="required">*</span></label>
							<div class="col-sm-9">
								<input type="file" name="file" data-ng-model="item.file" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="remove" value="1"> Delete all voters before importing
										<div class="required">Warning! All voters in this campus and semester code will be deleted first before importing.</div>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary" data-ng-disabled="!importForm.$valid">Import</button>
							</div>
						</div>
					</form>
					<hr>
					<h4>Guide for the CSV file:</h4>
					<div class="row">
						<div class="col-sm-3">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th width="10%">Column</th>
										<th>Value</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>A</td>
										<td>ID Number</td>
									</tr>
									<tr>
										<td>B</td>
										<td>Last Name</td>
									</tr>
									<tr>
										<td>C</td>
										<td>First Name</td>
									</tr>
									<tr>
										<td>D</td>
										<td>Middle Name</td>
									</tr>
									<tr>
										<td>E</td>
										<td>College Code</td>
									</tr>
									<tr>
										<td>F</td>
										<td>Year Level</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
				<div class="tab-pane fade" id="generate">
					<div class="text-center">
						<button class="btn btn-primary btn-lg" id="btn-generate" data-ng-click="generate()"><i class="fa fa-credit-card fa-fw fa-3x"></i><div>Generate Pass Codes</div>
							<span class="load animate spin" data-loading></span>
						</button>
						<p class="text-muted">This generates the voters random pass codes used in logging in the system.</p>
					</div>
				</div>
				<div class="tab-pane fade" id="export">PROFILE</div>
			</div>
		</div>
	</div>

</div>

<script>
	$(function() {
		// on load of the page: switch to the currently selected tab
		var hash = window.location.hash || '#import';
		$('#votersTab a[href="' + hash + '"]').tab('show');
	});
</script>