<div class="graph">
	<h2>
		<i class="fa fa-fw fa-users"></i> Voters
		<span class="load animate spin" data-loading></span>
	</h2>
	<div class="text-center">
		<div class="box">
			<div class="circle">2453</div><br>
			<p class="text-muted">Total Voters</p>
		</div>
		<div class="box">
			<div class="circle">0</div><br>
			<p class="text-muted">Voted</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="text-right">
		<form class="form-inline" role="form">
			<div class="form-group">
				<i class="fa fa-fw fa-search"></i>
				<input type="text" class="form-control no-style" placeholder="Search Voter ..." data-ng-model="search">
			</div>
			<div class="form-group">
				<button class="btn btn-default">Search</button>
			</div>
		</form>
	</div>
</div>