body,
button,
input,
h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", Arial, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {font-weight: 200;}
.tooltip {z-index: 2000;}
a {cursor: pointer;}
#menu {
	position:fixed;
	width: 160px;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	left: 160px;
	margin-left: -160px;
	background-color: #262a33;

	.nav {
		margin-top: 0;

		li.active a {
			background-color: rgba(0,0,0,0.8);
			color: #fff;

			&:after {
				border-right: 10px solid @body-bg;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				content: "";
				position: absolute;
				right: 0;
				top: 35%;
				height: 0;
				width: 0;
				vertical-align: middle;
				
				-webkit-transition: color 0.1s linear;
				-moz-transition: color 0.1s linear;
				-o-transition: color 0.1s linear;
				  transition: color 0.1s linear; 
			}
		}

		a {
			color: rgba(255, 255, 255, 0.3);
			text-transform: uppercase;
			font-size: 11px;
			padding: 16px;

			&:hover,
      		&:focus {
				background-color: rgba(255, 255, 255, 0.1);
				color:#fff;
      		}
		}
		a.logo {
			background-color: #FFB979;
			color: #fff;
		}
	}
}
#main {
	padding-left: 160px;

	.content {
		padding: 20px;

		h1.head {margin-top: 0}
	}
}
.nav.subnav {
	border-bottom: 1px solid darken(@body-bg, 10%);
	li > a {padding: 20px 25px;}
	li.active a {
		background-color: #fff;
		color:#000;
		border-left: 1px solid darken(@body-bg, 10%);
		border-right: 1px solid darken(@body-bg, 10%);
	}
}

.no-style {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid darken(@body-bg, 15%);
	box-shadow: none;

	&:hover,
	&:focus {
		box-shadow: none;
		border-bottom: 1px solid @brand-primary;
	}
}

/* Spin */

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.animate.spin {
	background: url("../images/sprite.png") no-repeat scroll 0 -32px rgba(0,0,0,0);
	background-size: 32px auto;
	display:inline-block;
	vertical-align: middle;
	height: 32px;
	width: 32px;
	-moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
.required {color: red;}
.content-data {position:relative;}
.cover {
	position:absolute;
	background-color:@body-bg;
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.dropdown-menu.form {
	padding: 20px;
}

.graph {
	background-color: #fff;
	padding: 50px;
	border-bottom: 1px solid #eee;

	.box {
		display: inline-block;
		margin: 0 30px;
	}

	.circle {
		border: 4px solid @brand-primary;
		border-radius: 99999px;
		display:block;
		font-size: 27px;
		font-weight: 700;
		height: 100px;
		width: 100px;
		line-height: 90px;
		margin: 0 auto;
		position: relative;
		text-transform: uppercase;
	}
}