body,
button,
input,
h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", Arial, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {font-weight: 200;}
#menu {
	position:fixed;
	width: 160px;
	top: 71px;
	bottom: 0;
	overflow-y: auto;
	left: 160px;
	margin-left: -160px;
	background-color: #262a33;

	.nav {
		margin-top: 0;

		a {
			color: rgba(255, 255, 255, 0.3);
			text-transform: uppercase;
			font-size: 11px;
			padding: 15px;

			&:hover,
      		&:focus {
				background-color: rgba(255, 255, 255, 0.1);
				color:#fff;
      		}
		}
	}
}
#main {
	padding-left: 160px;
}