@import "lato.less";

// Core variables and mixins
@import "bootstrap-3.1.0.client/less/variables.less";
@import "bootstrap-3.1.0.client/less/mixins.less";

// Reset
@import "bootstrap-3.1.0.client/less/normalize.less";
@import "bootstrap-3.1.0.client/less/print.less";

// Core CSS
@import "bootstrap-3.1.0.client/less/scaffolding.less";
@import "bootstrap-3.1.0.client/less/type.less";
//@import "bootstrap-3.1.0.client/less/code.less";
@import "bootstrap-3.1.0.client/less/grid.less";
@import "bootstrap-3.1.0.client/less/tables.less";
@import "bootstrap-3.1.0.client/less/forms.less";
@import "bootstrap-3.1.0.client/less/buttons.less";

// Components
@import "bootstrap-3.1.0.client/less/component-animations.less";
//@import "bootstrap-3.1.0.client/less/glyphicons.less";
//@import "bootstrap-3.1.0.client/less/dropdowns.less";
//@import "bootstrap-3.1.0.client/less/button-groups.less";
@import "bootstrap-3.1.0.client/less/input-groups.less";
//@import "bootstrap-3.1.0.client/less/navs.less";
//@import "bootstrap-3.1.0.client/less/navbar.less";
//@import "bootstrap-3.1.0.client/less/breadcrumbs.less";
//@import "bootstrap-3.1.0.client/less/pagination.less";
//@import "bootstrap-3.1.0.client/less/pager.less";
//@import "bootstrap-3.1.0.client/less/labels.less";
//@import "bootstrap-3.1.0.client/less/badges.less";
//@import "bootstrap-3.1.0.client/less/jumbotron.less";
//@import "bootstrap-3.1.0.client/less/thumbnails.less";
//@import "bootstrap-3.1.0.client/less/alerts.less";
//@import "bootstrap-3.1.0.client/less/progress-bars.less";
//@import "bootstrap-3.1.0.client/less/media.less";
//@import "bootstrap-3.1.0.client/less/list-group.less";
//@import "bootstrap-3.1.0.client/less/panels.less";
//@import "bootstrap-3.1.0.client/less/wells.less";
@import "bootstrap-3.1.0.client/less/close.less";

// Components w/ JavaScript
@import "bootstrap-3.1.0.client/less/modals.less";
//@import "bootstrap-3.1.0.client/less/tooltip.less";
//@import "bootstrap-3.1.0.client/less/popovers.less";
//@import "bootstrap-3.1.0.client/less/carousel.less";

// Utility classes
@import "bootstrap-3.1.0.client/less/utilities.less";
//@import "bootstrap-3.1.0.client/less/responsive-utilities.less";

//@import "admin.custom.less";
//@import "toastr.less";

html, body { height:100%; width:100%;}
body,
button,
input,
h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", Arial, sans-serif !important;
	font-weight: 200;
}
#wrap {
	height:100%;
	overflow: hidden;
	overflow-y: scroll;
	position:relative;
	width: auto;
}
.login-form {
	position:absolute;
	left: 0;
	top:20%;
	right:0;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	color: #fff;
}
#logo {
	position:absolute;
	top:0;
	left: 50%;
	margin-left: -270px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #46719C;
  border-color: #032547;
}

.ballot-header p {
  margin-top: 3%;
}
.ballot-body { margin: 3% 0 3% 0;  }
.ballot-body li { list-style: none; }
.postOptions {
  padding: 3% 3% 3% 3%;
  margin: 0 0 3% 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 5px solid #46719c;
}
.postOptions h3 {
  padding: 0 0 1% 0;
  margin: 0 0 1% 0;
}
.post-option { margin-bottom: 3% }
.postOption button {
  margin: 0 0 3% 0;
  position: relative;
}
/*#46719C, #032547*/
.postOption button p {
	font-size: 15px;
	margin: 0;
	padding-left: 50px;
}
.postOption button span {
  position: absolute;
  top: 25%;
  left: 5%;
  display: block;
  height: 30px;
  width: 30px;
  padding-top:3px;
  border: 2px solid @brand-primary;
  border-radius: 1000px;
}
.postOption i.checkmark {display:none;}
.postOption button.active i.checkmark {
  display: block;
  position: absolute;
  top:28%;
  right: 0;
  color: @brand-success;
}

.ongoing {
  margin-top: 10%;
}
.footer { margin-top: 5%; }
.footer p {
  margin: 0;
  color: #a3a3a3;
}
