.ballot-header p {
  margin-top: 3%;
  text-align: right;
}
.ballot-body { margin: 3% 0 3% 0;  }
.ballot-body li { list-style: none; }
.postOptions {
  padding: 3% 3% 3% 3%;
  margin: 0 0 3% 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 5px solid #46719c;
}
.postOptions h3 {
  padding: 0 0 1% 0;
  margin: 0 0 1% 0;
}
.post-option { margin-bottom: 3% }
.postOption button {
  margin: 0 0 3% 6%;
  position: relative;
}
/*#46719C, #032547*/
.postOption button p { margin: 0; }
.postOption button span {
  position: absolute;
  top: 35%;
  left: 5%;
}

.ongoing {
  margin-top: 10%;
}
.footer { margin-top: 5%; }
.footer p {
  margin: 0;
  color: #a3a3a3;
}