/* logo */
.logo {
  display: inline-block;
  float: left;
  background-color: #FFB979;
  padding: 20px;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
}
.controls {
  padding: 50px 0;
}
.position {
  background-color: #ffffff;
  border-left: 5px solid #ffb979;
  margin-top: 20px;  
}
.position > h3 {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.position .option {
  padding: 25px 0;
}
.position .option ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.position .option ul li {
  display: inline;
}
.position .option ul li button {
  width: 25%;
  margin-right: 5%;
  margin-bottom: 20px;
}
.position .option span.candidate-num {
  float: left;
  font-size: 18px;
  line-height: 50px;
  padding-right: 12px;
  border-right: 1px solid #eeeeee;
}
.modal tr td:first-child {
  width: 25%;
}
.modal ol {
  padding-left: 16px;
}

.modal ol {
  padding-left: 16px;
}
.ongoing {
  margin-top: 10%;
  background-color: #ffffff;
  border: 1px solid #1da0b4;
  padding: 5%;
  text-align: center;
  color: #848484;
}
.ongoing-header {
  margin-bottom: 5%;
}
.ongoing-header h1 {
  margin: 0;
  color: #15a1b6;
  text-transform: uppercase;
}
.ongoing-header p { margin-bottom: 3%; }
ul.ongoing-body {
  list-style: none;
  padding: 0;
}
ul.ongoing-body li {
  border: 1px solid #eeeeee;
  padding: 0;
}
ul.ongoing-body li:first-child {
  margin-left: 4%; 
}
ul.ongoing-body li p.timer-data {
  font-size: 50px;
  margin-bottom: 0;
}
.ongoing-footer {
  margin-top: 10%;
  padding-top: 5%;
  border-top: 1px solid #eeeeee;
}
.ongoing-footer p {
  font-size: 10px;
  margin: 0;
}


.ballot-header p {
  margin-top: 3%;
  text-align: right;
}
.ballot-body { margin: 3% 0 3% 0;  }
.ballot-body li { list-style: none; }
.postOptions {
  padding: 3% 3% 3% 3%;
  margin: 0 0 3% 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 5px solid #46719c;
}
.postOptions h3 {
  padding: 0 0 1% 0;
  margin: 0 0 1% 0;
}
.post-option { margin-bottom: 3% }
.postOption button {
  margin: 0 0 3% 6%;
  position: relative;
}
/*#46719C, #032547*/
.postOption button p { margin: 0; }
.postOption button span {
  position: absolute;
  top: 35%;
  left: 5%;
}

.ongoing {
  margin-top: 10%;
}
.footer { margin-top: 5%; }
.footer p {
  margin: 0;
  color: #a3a3a3;
}